---
import MainHead from "./MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
const {title, description} = Astro.props;

import "../styles/global.css"
---

<html lang="en">
  <MainHead {title} {description}/>
	<body>
		<Nav></Nav>
		<slot>Defualt body</slot>
		<Footer>
		</Footer>
	</body>
</html>
